<meta charset="utf-8">
<head>
<title>Панель</title>
<style>
div#myDiv {
    -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(200deg); /* Safari */
    transform: rotate(180deg); /* Standard syntax */
}
</style>
</head>
<body>
<div style="background: AliceBlue; padding: 1em 5px; width: 945px; height: 70px; border-radius: 15px; border: solid black 1px; margin: 20px 0px 0px 20px">
<div style="width: 160px; height: 10px; margin-top: -10px; border-radius: 3px;"><p style="margin: -15px 0px 0px 5px; font-size: 10;">sstc_505_1 [HP 2910al-24G]</p></div>
<div style="margin-right: 418; display: inline-block;"></div>
<a href="#on" class="button27" style="background: DodgerBlue;">1</a>
<a href="#on" class="button27" style="background: DodgerBlue">3</a>
<a href="#on" class="button27" style="background: DodgerBlue">5</a>
<a href="#on" class="button27" style="background: DodgerBlue">7</a>
<a href="#on" class="button27" style="background: DodgerBlue">9</a>
<a href="#on" class="button27" style="background: DodgerBlue">11</a>
<a href="#on" class="button27" style="background: DodgerBlue">13</a>
<a href="#on" class="button27" style="background: DodgerBlue">15</a>
<a href="#on" class="button27" style="background: DodgerBlue">17</a>
<a href="#on" class="button27" style="background: DodgerBlue">19</a>
    <p>
<div style="margin-right: 418; display: inline-block;"></div>
<a href="#on" class="button27" style="background: DodgerBlue">2</a>
<a href="#on" class="button27" style="background: DodgerBlue">4</a>
<a href="#on" class="button27" style="background: DodgerBlue">6</a>
<a href="#on" class="button27" style="background: DodgerBlue">8</a>
<a href="#on" class="button27" style="background: DodgerBlue">10</a>
<a href="#on" class="button27" style="background: DodgerBlue">12</a>
<a href="#on" class="button27" style="background: DodgerBlue">14</a>
<a href="#on" class="button27" style="background: DodgerBlue">16</a>
<a href="#on" class="button27" style="background: DodgerBlue">18</a>
<a href="#on" class="button27" style="background: DodgerBlue">20</a>
</p>

  <div style="width: 160px; height: 80px; border: solid Blue 1px; float: right; margin-top: -85; border-radius: 10px">
<a href="#on" class="button27" style="margin: -36px 0px 0px 5px; background: Green">21t</a>
<a href="#on" class="button27" style="margin: -36px 0px 0px 0px; background: DodgerBlue">23t</a>
<a href="#on" class="button27" style="margin: 46px 0px 0px -71px; background: DodgerBlue">22t</a>
<a href="#on" class="button27" style="margin: 46px 0px 0px 0px; background: FireBrick">24t</a>
  <div style="width: 80px; height: 93px; float: right; border: solid black 1px; margin-top: -7; margin-right: 0; border-radius: 10px">
<a href="#on" class="button27" style="margin: 10px 0px 0px 4px">21s</a>
<a href="#on" class="button27" style="margin: 10px 0px 0px 3px">23s</a>
<a href="#on" class="button27" style="margin: 8px 0px 0px 4px">22s</a>
<a href="#on" class="button27" style="margin: 8px 0px 0px 3px">24s</a>
</div>
</div>
</div>


<div id="myDiv" style="background: AliceBlue; padding: 1em 5px; width: 945px; height: 70px; border-radius: 15px; border: solid black 1px; margin: 20px 0px 0px 20px">
<div style="width: 160px; height: 10px; margin-top: -10px; border-radius: 3px;"><p style="margin: -15px 0px 0px 5px; font-size: 10;">sstc_505_1 [HP 2910al-24G]</p></div>
<div style="margin-right: 418; display: inline-block;"></div>
<a href="#on" class="button27" style="background: FireBrick;">1</a>
<a href="#on" class="button27" style="background: DodgerBlue">3</a>
<a href="#on" class="button27" style="background: DodgerBlue">5</a>
<a href="#on" class="button27" style="background: DodgerBlue">7</a>
<a href="#on" class="button27" style="background: DodgerBlue">9</a>
<a href="#on" class="button27" style="background: Green">11</a>
<a href="#on" class="button27" style="background: DodgerBlue">13</a>
<a href="#on" class="button27" style="background: DodgerBlue">15</a>
<a href="#on" class="button27" style="background: DodgerBlue">17</a>
<a href="#on" class="button27" style="background: DodgerBlue">19</a>
    <p>
<div style="margin-right: 418; display: inline-block;"></div>
<a href="#on" class="button27" style="background: Green">2</a>
<a href="#on" class="button27" style="background: DodgerBlue">4</a>
<a href="#on" class="button27" style="background: DodgerBlue">6</a>
<a href="#on" class="button27" style="background: Green">8</a>
<a href="#on" class="button27" style="background: DodgerBlue">10</a>
<a href="#on" class="button27" style="background: DodgerBlue">12</a>
<a href="#on" class="button27" style="background: DodgerBlue">14</a>
<a href="#on" class="button27" style="background: DodgerBlue">16</a>
<a href="#on" class="button27" style="background: DodgerBlue">18</a>
<a href="#on" class="button27" style="background: DodgerBlue">20</a>
</p>

  <div style="width: 160px; height: 80px; border: solid Blue 1px; float: right; margin-top: -85; border-radius: 10px">
<a href="#on" class="button27" style="margin: -36px 0px 0px 5px; background: DodgerBlue">21t</a>
<a href="#on" class="button27" style="margin: -36px 0px 0px 0px; background: DodgerBlue">23t</a>
<a href="#on" class="button27" style="margin: 46px 0px 0px -71px; background: DodgerBlue">22t</a>
<a href="#on" class="button27" style="margin: 46px 0px 0px 0px; background: DodgerBlue">24t</a>
  <div style="width: 80px; height: 93px; float: right; border: solid black 1px; margin-top: -7; margin-right: 0; border-radius: 10px">
<a href="#on" class="button27" style="margin: 10px 0px 0px 4px">21s</a>
<a href="#on" class="button27" style="margin: 10px 0px 0px 3px">23s</a>
<a href="#on" class="button27" style="margin: 8px 0px 0px 4px">22s</a>
<a href="#on" class="button27" style="margin: 8px 0px 0px 3px">24s</a>
</div>
</div>
</div>


<div style="background: AliceBlue; padding: 1em 5px; width: 945px; height: 70px; border-radius: 15px; border: solid black 1px; margin: 20px 0px 0px 20px">
<div style="width: 160px; height: 10px; margin-top: -10px; border-radius: 3px;"><p style="margin: -15px 0px 0px 5px; font-size: 10;">sstc_505_3 [HPE 1920-48G]</p></div>
<a href="#on" class="button27" style="background: DodgerBlue">1</a>
<a href="#on" class="button27" style="background: DodgerBlue">3</a>
<a href="#on" class="button27" style="background: Yellow">5</a>
<a href="#on" class="button27" style="background: DodgerBlue">7</a>
<a href="#on" class="button27" style="background: DodgerBlue">9</a>
<a href="#on" class="button27" style="background: DodgerBlue">11</a>
<a href="#on" class="button27" style="background: Green">13</a>
<a href="#on" class="button27" style="background: DodgerBlue">15</a>
<a href="#on" class="button27" style="background: DodgerBlue">17</a>
<a href="#on" class="button27" style="background: DodgerBlue">19</a>
<a href="#on" class="button27" style="background: DodgerBlue">21</a>
<a href="#on" class="button27" style="background: DodgerBlue">23</a>
<a href="#on" class="button27" style="background: DodgerBlue">25</a>
<a href="#on" class="button27" style="background: DodgerBlue">27</a>
<a href="#on" class="button27" style="background: Green">29</a>
<a href="#on" class="button27" style="background: Green">31</a>
<a href="#on" class="button27" style="background: DodgerBlue">33</a>
<a href="#on" class="button27" style="background: DodgerBlue">35</a>
<a href="#on" class="button27" style="background: DodgerBlue">37</a>
<a href="#on" class="button27" style="background: DodgerBlue">39</a>
<a href="#on" class="button27" style="background: DodgerBlue">41</a>
<a href="#on" class="button27" style="background: DodgerBlue">43</a>
<a href="#on" class="button27" style="background: DodgerBlue">45</a>
<a href="#on" class="button27" style="background: DodgerBlue">47</a>
<p>
<a href="#on" class="button27" style="background: DodgerBlue">2</a>
<a href="#on" class="button27" style="background: DodgerBlue">4</a>
<a href="#on" class="button27" style="background: DodgerBlue">6</a>
<a href="#on" class="button27" style="background: Green">8</a>
<a href="#on" class="button27" style="background: DodgerBlue">10</a>
<a href="#on" class="button27" style="background: DodgerBlue">12</a>
<a href="#on" class="button27" style="background: DodgerBlue">14</a>
<a href="#on" class="button27" style="background: DodgerBlue">16</a>
<a href="#on" class="button27" style="background: DodgerBlue">18</a>
<a href="#on" class="button27" style="background: DodgerBlue">20</a>
<a href="#on" class="button27" style="background: DodgerBlue">22</a>
<a href="#on" class="button27" style="background: Green">24</a>
<a href="#on" class="button27" style="background: DodgerBlue">26</a>
<a href="#on" class="button27" style="background: DodgerBlue">28</a>
<a href="#on" class="button27" style="background: Green">30</a>
<a href="#on" class="button27" style="background: DodgerBlue">32</a>
<a href="#on" class="button27" style="background: DodgerBlue">34</a>
<a href="#on" class="button27" style="background: DodgerBlue">36</a>
<a href="#on" class="button27" style="background: DodgerBlue">38</a>
<a href="#on" class="button27" style="background: Green">40</a>
<a href="#on" class="button27" style="background: DodgerBlue">42</a>
<a href="#on" class="button27" style="background: DodgerBlue">44</a>
<a href="#on" class="button27" style="background: DodgerBlue">46</a>
<a href="#on" class="button27" style="background: FireBrick">48</a>
</p>
<div style="width: 80px; height: 85px; float: right; border: solid black 1px; margin: -87px 0px 0px 0px; border-radius: 10px">
<a href="#on" class="button27" style="margin: 5px 0px 0px 4px">49</a>
<a href="#on" class="button27" style="margin: 5px 0px 0px 3px">51</a>
<a href="#on" class="button27" style="margin: 10px 0px 0px 4px">50</a>
<a href="#on" class="button27" style="margin: 10px 0px 0px 3px">52</a>
</div>
</div>


</body>

<style>
a.button27 {
    position: relative;
    display: inline-block;
     width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    color: #000;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 0 1px #ddd inset, 0 1px 1px #fff;
    margin: 4px 0px -10px 0px;
}
a.button27:hover {
  background: #dcdcdc linear-gradient(#fff, #dcdcdc);
  box-shadow: 0 0 0 1px #aaa inset, 0 1px 1px #aaa;
}
a.button27:active {
  background: none;
    box-shadow: 0 0 0 1px #bbb inset, 0 1px 3px rgba(0,0,0,.5) inset, 0 1px 2px #fff;
}
</style>