<meta charset="utf-8">
<head>
<title>Панель</title>
</head>
<body>
{% include "header.html" %}
<div style="background: AliceBlue; padding: 1em 5px; width: 945px; height: 70px; border-radius: 15px; border: solid black 1px; margin: 20px 0px 0px 20px">
<div style="width: 160px; height: 10px; margin-top: -10px; border-radius: 3px;"><p style="margin: -15px 0px 0px 5px; font-size: 10;">sstc_805_1 [HPE 1920-48G]</p></div>
<a href="#on" class="button27" style="background: DodgerBlue">1</a>
<a href="#on" class="button27" style="background: DodgerBlue">2</a>
<a href="#on" class="button27" style="background: DodgerBlue">3</a>
<a href="#on" class="button27" style="background: DodgerBlue">4</a>
<a href="#on" class="button27" style="background: DodgerBlue">5</a>
<a href="#on" class="button27" style="background: DodgerBlue">6</a>
<a href="#on" class="button27" style="background: DodgerBlue">7</a>
<a href="#on" class="button27" style="background: DodgerBlue">8</a>
<a href="#on" class="button27" style="background: DodgerBlue">9</a>
<a href="#on" class="button27" style="background: DodgerBlue">10</a>
<a href="#on" class="button27" style="background: DodgerBlue">11</a>
<a href="#on" class="button27" style="background: DodgerBlue">12</a>
<a href="#on" class="button27" style="background: DodgerBlue">13</a>
<a href="#on" class="button27" style="background: DodgerBlue">14</a>
<a href="#on" class="button27" style="background: DodgerBlue">15</a>
<a href="#on" class="button27" style="background: DodgerBlue">16</a>
<a href="#on" class="button27" style="background: DodgerBlue">17</a>
<a href="#on" class="button27" style="background: DodgerBlue">18</a>
<a href="#on" class="button27" style="background: DodgerBlue">19</a>
<a href="#on" class="button27" style="background: DodgerBlue">20</a>
<a href="#on" class="button27" style="background: DodgerBlue">21</a>
<a href="#on" class="button27" style="background: DodgerBlue">22</a>
<a href="#on" class="button27" style="background: DodgerBlue">23</a>
<a href="#on" class="button27" style="background: DodgerBlue">24</a>
<p>
<a href="#on" class="button27" style="background: DodgerBlue">25</a>
<a href="#on" class="button27" style="background: DodgerBlue">26</a>
<a href="#on" class="button27" style="background: DodgerBlue">27</a>
<a href="#on" class="button27" style="background: DodgerBlue">28</a>
<a href="#on" class="button27" style="background: DodgerBlue">29</a>
<a href="#on" class="button27" style="background: DodgerBlue">30</a>
<a href="#on" class="button27" style="background: DodgerBlue">31</a>
<a href="#on" class="button27" style="background: DodgerBlue">32</a>
<a href="#on" class="button27" style="background: DodgerBlue">33</a>
<a href="#on" class="button27" style="background: DodgerBlue">34</a>
<a href="#on" class="button27" style="background: DodgerBlue">35</a>
<a href="#on" class="button27" style="background: DodgerBlue">36</a>
<a href="#on" class="button27" style="background: DodgerBlue">37</a>
<a href="#on" class="button27" style="background: DodgerBlue">38</a>
<a href="#on" class="button27" style="background: DodgerBlue">39</a>
<a href="#on" class="button27" style="background: DodgerBlue">40</a>
<a href="#on" class="button27" style="background: DodgerBlue">41</a>
<a href="#on" class="button27" style="background: DodgerBlue">42</a>
<a href="#on" class="button27" style="background: DodgerBlue">43</a>
<a href="#on" class="button27" style="background: DodgerBlue">44</a>
<a href="#on" class="button27" style="background: DodgerBlue">45</a>
<a href="#on" class="button27" style="background: DodgerBlue">46</a>
<a href="#on" class="button27" style="background: DodgerBlue">47</a>
<a href="#on" class="button27" style="background: FireBrick">48</a>
</p>
<div style="width: 80px; height: 85px; float: right; border: solid black 1px; margin: -87px 0px 0px 0px; border-radius: 10px">
<a href="#on" class="button27" style="margin: 5px 0px 0px 4px">49</a>
<a href="#on" class="button27" style="margin: 5px 0px 0px 3px">50</a>
<a href="#on" class="button27" style="margin: 10px 0px 0px 4px">51</a>
<a href="#on" class="button27" style="margin: 10px 0px 0px 3px">52</a>
</div>
</div>

<div style="background: AliceBlue; padding: 1em 5px; width: 945px; height: 70px; border-radius: 15px; border: solid black 1px; margin: 20px 0px 0px 20px">
<div style="width: 160px; height: 10px; margin-top: -10px; border-radius: 3px;"><p style="margin: -15px 0px 0px 5px; font-size: 10;">sstc_805_2 [ProCurve 2510-48]</p></div>
<a href="#on" class="button27" style="background: DodgerBlue">1</a>
<a href="#on" class="button27" style="background: DodgerBlue">2</a>
<a href="#on" class="button27" style="background: DodgerBlue">3</a>
<a href="#on" class="button27" style="background: DodgerBlue">4</a>
<a href="#on" class="button27" style="background: DodgerBlue">5</a>
<a href="#on" class="button27" style="background: DodgerBlue">6</a>
<a href="#on" class="button27" style="background: DodgerBlue">7</a>
<a href="#on" class="button27" style="background: DodgerBlue">8</a>
<a href="#on" class="button27" style="background: DodgerBlue">9</a>
<a href="#on" class="button27" style="background: Green">10</a>
<a href="#on" class="button27" style="background: DodgerBlue">11</a>
<a href="#on" class="button27" style="background: Green">12</a>
<a href="#on" class="button27" style="background: DodgerBlue">13</a>
<a href="#on" class="button27" style="background: Green">14</a>
<a href="#on" class="button27" style="background: DodgerBlue">15</a>
<a href="#on" class="button27" style="background: DodgerBlue">16</a>
<a href="#on" class="button27" style="background: DodgerBlue">17</a>
<a href="#on" class="button27" style="background: DodgerBlue">18</a>
<a href="#on" class="button27" style="background: DodgerBlue">19</a>
<a href="#on" class="button27" style="background: DodgerBlue">20</a>
<a href="#on" class="button27" style="background: DodgerBlue">21</a>
<a href="#on" class="button27" style="background: DodgerBlue">22</a>
<a href="#on" class="button27" style="background: DodgerBlue">23</a>
<a href="#on" class="button27" style="background: DodgerBlue">24</a>
<p>
<a href="#on" class="button27" style="background: DodgerBlue">25</a>
<a href="#on" class="button27" style="background: DodgerBlue">26</a>
<a href="#on" class="button27" style="background: Green">27</a>
<a href="#on" class="button27" style="background: DodgerBlue">28</a>
<a href="#on" class="button27" style="background: DodgerBlue">29</a>
<a href="#on" class="button27" style="background: DodgerBlue">30</a>
<a href="#on" class="button27" style="background: DodgerBlue">31</a>
<a href="#on" class="button27" style="background: DodgerBlue">32</a>
<a href="#on" class="button27" style="background: DodgerBlue">33</a>
<a href="#on" class="button27" style="background: DodgerBlue">34</a>
<a href="#on" class="button27" style="background: DodgerBlue">35</a>
<a href="#on" class="button27" style="background: DodgerBlue">36</a>
<a href="#on" class="button27" style="background: DodgerBlue">37</a>
<a href="#on" class="button27" style="background: DodgerBlue">38</a>
<a href="#on" class="button27" style="background: DodgerBlue">39</a>
<a href="#on" class="button27" style="background: Green">40</a>
<a href="#on" class="button27" style="background: DodgerBlue">41</a>
<a href="#on" class="button27" style="background: DodgerBlue">42</a>
<a href="#on" class="button27" style="background: DodgerBlue">43</a>
<a href="#on" class="button27" style="background: FireBrick">44</a>
<a href="#on" class="button27" style="background: DodgerBlue">45</a>
<a href="#on" class="button27" style="background: DodgerBlue">46</a>
<a href="#on" class="button27" style="background: Green">47</a>
<a href="#on" class="button27" style="background: DodgerBlue">48</a>
</p>
<div style="width: 80px; height: 85px; float: right; border: solid black 1px; margin: -87px 0px 0px 0px; border-radius: 10px">
<a href="#on" class="button27" style="margin: 5px 0px 0px 4px; background: FireBrick">49</a>
<a href="#on" class="button27" style="margin: 5px 0px 0px 3px">50</a>
<a href="#on" class="button27" style="margin: 10px 0px 0px 4px">51</a>
<a href="#on" class="button27" style="margin: 10px 0px 0px 3px">52</a>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% include "footer.html" %}
</body>

<style>
a.button27 {
    position: relative;
    display: inline-block;
     width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    color: #000;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 0 1px #ddd inset, 0 1px 1px #fff;
    margin: 4px 0px -10px 0px;
}
a.button27:hover {
  background: #dcdcdc linear-gradient(#fff, #dcdcdc);
  box-shadow: 0 0 0 1px #aaa inset, 0 1px 1px #aaa;
}
a.button27:active {
  background: none;
    box-shadow: 0 0 0 1px #bbb inset, 0 1px 3px rgba(0,0,0,.5) inset, 0 1px 2px #fff;
}
</style>