<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/static/style.css">
	</head>
	<body>
		<div class="header">
			<a class="signin" href="/signin">Sign In</a>
			<a class="login" href="/login">Login</a>
			<img class="lan_img" src="/static/img/en1.png" width="20">
			<a class="lantext" href="/lan">EN</a>
		</div>
	<div class="menu">
		<div class="logo">
		<img src="/static/img/logo.png" width=70 me">
		</div>
		<div class="submenu">
		<div class="subsubmenu">
		<a href="/" class="button blue"><strong>Home</strong></a>
		<a href="/topology/" class="button">Topology</a>
		<a href="/connections/" class="button">Connections</a>
		<a href="#" class="button">NAT</a>
		<a href="#" class="button">ISP info</a>
		<a href="#" class="button">About</a>
		</div>
		</div>
	</div>
	<div class="content">
	</div>
	<div class="footer">
		<p>@2017</p><i>alkho</i>
	</div>
	</body>
</html>

